!!!
%html{:lang => "en"}
  %head
    %title Sign in
    %link{:href=>"//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css", :rel=>"stylesheet"}
    %link{:href => "http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/css/admin.css", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "http://code.jquery.com/jquery-1.10.0.min.js"}
    :css
      body {
        background-color: #eee;
      }
  %body
    .container
      %form.form-signin{:method => 'post', :action => '/admin'}
        %span{:style => 'color: #900; font-size: 16px;'} &nbsp;#{locals[:result]}
        %input.form-control{:name => 'post[user]', :placeholder => "User", :type => "text"}
        %input.form-control{:name => 'post[password]', :placeholder => "Password", :type => "password"}
        %button.btn.btn-lg.btn-primary.btn-block{:type => "submit"} Sign in
